@tailwind base;
@tailwind components;
@tailwind utilities;

.w-5 {
    width: 2.4rem;
}

.h-5 {
    height: 2.4rem;
}

.dark\:text-white\/80 {
      color: rgb(0 0 0 / 0.8) !important;
}

.dark\:bg-white\/10 {
      color: rgb(0 0 0 / 1) !important;
}

.dark\:text-white\/70 {
      color: rgb(0 0 0 / 0.8) !important;
}

.dark\:text-white {
      color: #333 !important;
}

