$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}
.newProduct {
    width: 100vw;
    margin: 80px 0 110px;
    @include tablet {
        margin: 20px 0 110px;
    }

    @include mobile {
        margin: 20px 0 110px;
    }
}

.outBg {
    position: relative;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    &::after {
        content: '';
        position: absolute;
        top: -55px;
        right: 48px;
        width: 400px;
        height: 400px;
        background-image: linear-gradient(230deg, #0100ec, #fb36f4);
        animation: morph 5s linear infinite;
        z-index: -1;

        @include mobile {
            width: 100px;
            height: 100px;
            right: 30px;
        }

        @include tablet {
            width: 200px;
            height: 200px;
            top: -100px;
            right: 0px;
        }
    }

    &::before {
        content: '';
        position: absolute;
        bottom: -55px;
        left: 48px;
        width: 400px;
        height: 400px;
        background-image: linear-gradient(230deg, #00ffed, #9d00c6);
        animation: morph 5s linear infinite;
        z-index: -1;
        @include mobile {
            width: 100px;
            height: 100px;
            left: 10px;
        }

		@include tablet {
			width: 200px;
            height: 200px;
			bottom: -60px;
            left: -20px;
		}
    }
}
.form_container {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 50px 40px 20px 40px;
    background: rgb(239, 239, 239, 0.3);
    backdrop-filter: blur(20px);
    box-shadow: 4px 5px 3px rgba(0, 0, 0, 0.5);
    border: 1px solid var(--primary);
    border-radius: 12px;
    font-family: 'Inter', sans-serif;
    position: relative;
    @include mobile {
        width: 80vw;
    }
}
.logo_container {
    box-sizing: border-box;
    width: 80px;
    height: 80px;
    background: linear-gradient(223deg, var(--primary) 50%, aqua 100%);
    border: 1px solid #f7f7f8;
    filter: drop-shadow(0px 0.5px 0.5px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    border-radius: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    .logo_container--icon {
        font-size: 3.5rem;
        color: var(--light);
        animation: cricle360 3s linear infinite;
    }
}
.title_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.title {
    margin: 0;
    font-size: 2rem;
    font-weight: 700;
    color: var(--primary);
}
.subtitle {
    font-size: 1.8rem;
    max-width: 80%;
    text-align: center;
    line-height: 2.2rem;
    color: #8b8e98;
}
.input_container {
    width: 100%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.icon {
    width: 20px;
    position: absolute;
    z-index: 99;
    left: 12px;
    bottom: 11px;
}
.input_label {
    font-size: 1.55rem;
    color: #8b8e98;
    font-weight: 600;
}
.input_field {
    width: auto;
    height: 40px;
    padding: 0 0 0 40px;
    border-radius: 7px;
    outline: none;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    transition: all 0.3s cubic-bezier(0.15, 0.83, 0.66, 1);
    background: rgb(255, 255, 255, 0.6);
    &:focus {
        border: 1px solid transparent;
        box-shadow: 0px 0px 0px 2px #242424;
        background-color: transparent;
    }
}
.sign-in_apl {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    background: var(--primary);
    border-radius: 7px;
    outline: none;
    color: #ffffff;
    border: 1px solid #e5e5e5;
    filter: drop-shadow(0px 1px 0px #efefef) drop-shadow(0px 1px 0.5px rgba(239, 239, 239, 0.5));
    cursor: pointer;
}
.note {
    font-size: 1.55rem;
    color: #8b8e98;
    text-decoration: underline;
}

.drop-container {
    background-color: #fff;
    position: relative;
    display: flex;
    gap: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin-top: 2.1875rem;
    border-radius: 10px;
    border: 2px dashed rgb(171, 202, 255);
    color: #444;
    cursor: pointer;
    transition: background 0.2s ease-in-out, border 0.2s ease-in-out;
    @include mobile {
        width: 100%;
    }
    &:hover {
        background: rgba(0, 140, 255, 0.164);
        border-color: rgba(17, 17, 17, 0.616);
        .drop-title {
            color: #222;
        }
    }
    input {
        @include mobile {
            width: 100%;
        }
    }
}
.drop-title {
    color: #444;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    transition: color 0.2s ease-in-out;
}
#file-input {
    width: 350px;
    max-width: 100%;
    color: #444;
    padding: 2px;
    background: #fff;
    border-radius: 10px;
    border: 1px solid rgba(8, 8, 8, 0.288);
    &::file-selector-button {
        margin-right: 20px;
        border: none;
        background: #084cdf;
        padding: 10px 20px;
        border-radius: 10px;
        color: #fff;
        cursor: pointer;
        transition: background 0.2s ease-in-out;
        &:hover {
            background: #0d45a5;
        }
    }
}

.iconCreate {
    font-size: 2.8rem;
}

.product_container {
    margin-top: 70px;
    width: 85vw;
}

.productItem {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border: 1px solid var(--primary);
    border-radius: 20px;
    cursor: pointer;
    position: relative;

    &:hover .productItem__action {
        display: flex;
    }

    .productItem__action {
        background: rgba(0, 0, 0, 0.4);
        position: absolute;
        width: 100%;
        justify-content: space-around;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        border-radius: 20px;
        font-size: 3rem;
        color: var(--light);
        display: none;

        .productItem__action--icon {
            cursor: pointer;
            margin-top: 20px;
        }
    }

    img {
        object-fit: cover;
        height: 200px;
        width: 100%;
        border-top-right-radius: 20px;
        border-top-left-radius: 20px;
    }
    .productItem__content {
        width: 100%;
        h2 {
            text-align: center;
            font-size: 1.8rem;
            padding: 0 24px;
            margin-top: 16px;
            font-weight: 600;
        }
        .productItem__description {
            padding: 12px 24px 30px;
            width: 100%;
            display: flex;
            justify-content: space-between;
            font-size: 1.6rem;
            font-weight: 300;
        }
    }
}

@keyframes cricle360 {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes morph {
    0% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }

    25% {
        border-radius: 37% 63% 24% 76% / 43% 17% 83% 57%;
    }

    50% {
        border-radius: 46% 54% 48% 52% / 56% 70% 30% 44%;
    }

    75% {
        border-radius: 15% 85% 23% 77% / 19% 19% 81% 81%;
    }

    100% {
        border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
    }
}
