$mobile-width: 480px;
$tablet-width: 768px;
$desktop-width: 1024px;

@mixin mobile {
    @media (max-width: #{$mobile-width - 1px}) {
        @content;
    }
}

@mixin tablet {
    @media (min-width: #{$mobile-width}) and (max-width: #{$desktop-width - 1px}) {
        @content;
    }
}

@mixin desktop {
    @media (min-width: #{$desktop-width}) {
        @content;
    }
}

.wrapper {
    width: 100%;
    height: var(--default-layout-header-height, 60px);
    border-bottom: 2.5px solid #e8cfa0;
    .bulkhead {
        height: 20px;
        width: 100%;
        background-color: var(--primary);
    }
    .header_navbar {
        @include mobile {
            display: none;
        }

        @include tablet {
            display: none;
        }

        .header_nav {
            h4 {
                a {
                    color: var(--primary);
                    font-size: 1.8rem;
                    letter-spacing: 0.5px;
                    cursor: pointer;
                    text-decoration: none;
                }

                &:hover {
                    text-decoration: underline;
                }
            }
            .header_input {
                border-radius: 20px;
                padding: 0 16px;
                width: 200px;
            }
            .header_iconCall {
                font-size: 3rem;
                border-radius: 50%;
                border: 1px solid var(--primary);
                padding: 4px;
                color: var(--light);
                background-color: var(--primary);
            }
            .header_iconCircle {
                font-size: 3rem;
                border-radius: 50%;
                border: 1px solid var(--primary);
                padding: 4px;
                color: var(--primary);
                background-color: var(--primary);
            }
            span {
                color: var(--primary);
                margin-left: 12px;
            }
        }
        .header_list {
            list-style: none;
            padding-left: 0;
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-top: 30px;
            .header_item {
                .header_item-icon {
                    font-size: 2.2rem;
                    margin-top: -4px;
                }
                a {
                    text-decoration: none;
                    color: var(--primary);
                    text-transform: uppercase;
                    font-weight: 500;
                }
                & + .header_item {
                    padding-left: 50px;
                }
                &:hover {
                    text-decoration: underline;
                    transition: all 2s ease-in-out;
                }
            }
        }
    }
}

// mobile menu
.site-mobile-menu {
    @include mobile {
        .site-mobile-menu-header {
            width: 100%;

            padding-left: 20px;
            padding-right: 20px;

            .site-mobile-menu-close {
                .js-menu-toggle {
                    cursor: pointer;
                    font-size: 2rem;
                    color: var(--primary);
                }
                margin-top: 8px;
            }
            .site-mobile-menu-logo {
                float: left;
                margin-top: 10px;
                margin-left: 0px;
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    img {
                        max-width: 70px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .site-mobile-menu-body {
            // overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            position: relative;
            padding: 0 20px 0px 20px;
            border-bottom: 2.5px solid #e8cfa0;
            z-index: 9999;
            background-color: var(--light);
            display: none;
            .mobile-menu__list {
                list-style: none;
                li {
                    margin-top: 10px;
                    &:hover > a {
                        text-decoration: underline;
                    }
                }
                li > a {
                    text-decoration: none;
                    color: var(--light);
                    font-size: 1.8rem;
                }
            }
        }
        .site-nav-wrap {
            padding: 0;
            margin: 0;
            list-style: none;
            // float: left;

            // width: 100%;
            // height: 100%;
            position: relative;

            a {
                padding: 5px 20px;
                display: block;
                position: relative;
                // color: $gray-00;
                color: #000;
                &:hover {
                    color: var(--primary);
                }
            }
            li {
                position: relative;
                display: block;
                &.active {
                    > a {
                        color: var(--primary);
                    }
                }
            }
            .arrow-collapse {
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 20;
                width: 36px;
                height: 36px;
                text-align: center;
                cursor: pointer;
                border-radius: 50%;
                border: 1px solid var(--light);
                &:hover {
                    // background: $gray-100;
                }
                &:before {
                    font-size: 1.4rem;
                    z-index: 20;
                    font-family: 'icomoon';
                    content: '\e313';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-180deg);
                    transition: 0.3s all ease;
                }
                &.collapsed {
                    &:before {
                        transform: translate(-50%, -50%);
                    }
                }
            }
            > li {
                display: block;
                position: relative;
                float: left;
                width: 100%;

                > a {
                    padding-left: 20px;
                    font-size: 1.4rem;
                }
                > ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    > li {
                        display: block;
                        > a {
                            padding-left: 40px;
                            font-size: 1.4rem;
                        }
                        > ul {
                            padding: 0;
                            margin: 0;
                            > li {
                                display: block;
                                > a {
                                    font-size: 1.4rem;
                                    padding-left: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include tablet {
        .site-mobile-menu-header {
            width: 100%;

            padding-left: 20px;
            padding-right: 20px;

            .site-mobile-menu-close {
                .js-menu-toggle {
                    font-size: 2rem;
                    color: var(--primary);
                    cursor: pointer;
                }
                margin-top: 8px;
            }
            .site-mobile-menu-logo {
                float: left;
                margin-top: 10px;
                margin-left: 0px;
                a {
                    display: inline-block;
                    text-transform: uppercase;
                    img {
                        max-width: 70px;
                    }
                    &:hover {
                        text-decoration: none;
                    }
                }
            }
        }

        .site-mobile-menu-body {
            // overflow-y: scroll;
            -webkit-overflow-scrolling: touch;
            position: relative;
            padding: 0 20px 0px 20px;
            border-bottom: 2.5px solid #e8cfa0;
            z-index: 9999;
            background-color: var(--light);
            display: none;
            .mobile-menu__list {
                list-style: none;
                li {
                    margin-top: 10px;
                    &:hover > a {
                        text-decoration: underline;
                    }
                }
                li > a {
                    text-decoration: none;
                    color: var(--light);
                    font-size: 1.8rem;
                }
            }
        }
        .site-nav-wrap {
            padding: 0;
            margin: 0;
            list-style: none;
            // float: left;

            // width: 100%;
            // height: 100%;
            position: relative;

            a {
                padding: 5px 20px;
                display: block;
                position: relative;
                // color: $gray-00;
                color: #000;
                &:hover {
                    color: var(--primary);
                }
            }
            li {
                position: relative;
                display: block;
                &.active {
                    > a {
                        color: var(--primary);
                    }
                }
            }
            .arrow-collapse {
                position: absolute;
                right: 0px;
                top: 0px;
                z-index: 20;
                width: 36px;
                height: 36px;
                text-align: center;
                cursor: pointer;
                border-radius: 50%;
                border: 1px solid var(--light);
                &:hover {
                    // background: $gray-100;
                }
                &:before {
                    font-size: 1.4rem;
                    z-index: 20;
                    font-family: 'icomoon';
                    content: '\e313';
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%, -50%) rotate(-180deg);
                    transition: 0.3s all ease;
                }
                &.collapsed {
                    &:before {
                        transform: translate(-50%, -50%);
                    }
                }
            }
            > li {
                display: block;
                position: relative;
                float: left;
                width: 100%;

                > a {
                    padding-left: 20px;
                    font-size: 1.4rem;
                }
                > ul {
                    padding: 0;
                    margin: 0;
                    list-style: none;
                    > li {
                        display: block;
                        > a {
                            padding-left: 40px;
                            font-size: 1.4rem;
                        }
                        > ul {
                            padding: 0;
                            margin: 0;
                            > li {
                                display: block;
                                > a {
                                    font-size: 1.4rem;
                                    padding-left: 60px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    @include desktop {
        display: none;
    }
}
