.service {
   padding: 70px 0;
   height: 100%;
   background-position: 50% 90%;
   max-width: 100%;
}
.aboutTitle {
    font-size: 3rem;
    font-weight: 700;
    text-align: center;
    text-transform: uppercase;
    position: relative;
    color: var(--light);
    display: flex;
    justify-content: center;
    .aboutTitle_space {
        position: absolute;
        bottom: -6px;
        width: 70px;
        text-align: center;
        border: 1px solid var(--light);
    }
}

.service_item {
    text-align: center;
    color: var(--light);
    h2 {
        margin-top: 12px;
    }
}