@import 'normalize.css';
@import url('https://fonts.cdnfonts.com/css/myriad-pro');

:root {
    --primary: #01245a;
    --light: #fff;

    // Default layout
    --default-layout-header-height: 140px;
    --default-layout-width: 1200px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Myriad Pro', sans-serif;
    font-size: 1.6rem;
    line-height: 1.5;
    text-rendering: optimizespeed;
    scroll-behavior: smooth;
}

.mgin-5 {
    margin-top: 50px;
}

.btnFavourite.active {
    color: var(--light) !important;
    background-color: #e71c46 !important;
    border: 1px solid var(--light) !important;
}
.submit-alert.active {
    opacity: 1;
    transform: translateX(0);
    animation: slideInLeft ease 0.3s;
}
.submit-alert {
    opacity: 0;
    transform: translateX(calc(100% + 32px));
}

.collapse:not(.show) {
    display: none;
    animation: translateY 0.1s linear;
}

.collapse.show {
    display: block;
    animation: translateY 0.2s linear 0s;
    background: var(--primary);
    border-radius: 30px;
}

@keyframes translateY {
    0% {
        transform: scale(0, 0);
        opacity: 0;
    }

    50% {
        transform: scale(0.5, 0.5);
        opacity: 0.5;
    }

    100% {
        transform: scale(1, 1);
        opacity: 1;
    }
}


@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(calc(100% + 32px));
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeOut {
    to {
        opacity: 0;
    }
}